.camera-body {
    display: block;
    margin: 0px;
    }
// video {
//    height: 100%;
//}


.camera-btn{

width : 80px;
height : 80px;
outline:none;
}

#cbtn {
width : 50%;
height : 80px;
position:fixed;
text-align : center ; 
top : 500px;
}

.none{
display:none !important;
}

